.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.history-detail {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.history-detail p {
    text-align: justify;
}