.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.contact h2 {
    text-decoration: underline;
}
.contact form button {
    margin-top: 10px;
}
.infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infos input, .infos textarea {
    border: solid 1px black;
    border-radius: 5px;
}