
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 18%;
    margin: 0;
}
header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
header nav ul li {
    list-style: none;
}
header a {
    text-decoration: none;
}
#logo {
    color: black;
    text-decoration: none;
}
.panier span {
    font-size: 1.3em;
    font-weight: bold;
}
.panier img {
    width: 45px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}
.link a {
    text-decoration: none;
    padding: 10px;
}
.link a:hover {
    border: 1px solid antiquewhite;
    border-radius: 5px;
    background-color: antiquewhite;
    text-decoration: none;
}